<div class="container mt-4">
  <div class="row">
    <% @chefs.each do |chef| %>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card border-0 card-chef" style="width: 100%;">
        <%= link_to cl_image_tag(User.find(chef.user_id).photo.key, class: "card-img-top", crop: :fill), chef_path(chef) %>
        <div class="card-body">
          <h5 class="card-title"><%= chef.user.first_name %> <%= chef.user.last_name %></h5>
          <p class="mt-3"><%= chef.cuisine %> <span class="mr-4"></span><%=  chef.chef_reviews.blank? ? "0 reviews" : "⭐️" * chef.chef_reviews.average(:rating).round(2) %> </p>
          <p class="card-text my-3"><%= chef.introduction %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
