<!-- chef info -->
<div class="container  px-3 py-3 chef-info">
  <div class="container">
    <div class="row align-items-end justify-content-between">
      <div class="col-6 col-md-8 text-center">
        <h1><%= @chef.user.first_name %> <%= @chef.user.last_name %></h1>
        <p>chef job title (need column)</p>
        <p>chef restaurant name (need column)</p>
        <p>⭐️⭐️⭐️⭐️⭐️</p>
      </div>
      <div class="col-6 col-md-4">
        <%= cl_image_tag @chef.user.photo.key, width: 200, height: 200,  crop: :fill, class: "chef-avatar"  %>
      </div>
    </div>
  </div>

  <div class="container mt-3 col-12">
    <p>(need column) Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Quaerat dolore repellendus corrupti sapiente recusandae fugiat accusamus, vero, quo deserunt nemo, cupiditate, dolorum nihil libero similique laborum sint aperiam iusto accusantium.</p>
  </div>
</div>

<hr>
<!-- intro video / using animage as placeholdher until we can add a video-->
<div class="container">
  <h2 class="text-center">Chef intro</h2>
  <%= image_tag("https://images.unsplash.com/photo-1541614101331-1a5a3a194e92?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80", class: "chef-video-img") %>
</div>

<hr>
<!-- chef recipes -->
<div class="container mt-4">
  <div class="row">
    <% @chef.recipes.each do |recipe| %>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card-food">
        <% recipe.photos.each do |photo| %>
            <%= cl_image_tag photo.key%>
            <% break %>
        <% end %>
        <div class="card-food-infos">
          <div>
            <h2><%= recipe.name %> <span>| Chef <%= recipe.chef.user.first_name %> <%= recipe.chef.user.last_name %></span></h2>
            <p class="mt-2"><span class="mr-3"><%= recipe.cuisine %></span> ⭐️⭐️⭐️⭐️</p>
            <p class="mt-2 mr-2"><%= recipe.description %></p>
          </div>
          <p><%= link_to "Book", new_recipe_booking_path(recipe), class: "btn button" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<hr>
<!-- chef calendar & booking -->

<hr>
<!-- chef reviews -->
