<!-- recipe review form and recipe image-->
<div class="container card text-center shadow-sm" style="width: 100%;" id='add-measurement'>
  <div class="row card-body justify-content-center">
    <div class="col-12 col-md-8 ">
      <%= cl_image_tag @recipe_photo, width: 200, height: 200, crop: :fill, class: "avatar-square shadow"  %>
      <h3 class="mt-4 text-center mb-0">Add Review</h3>
      <h2 class="text-center"> <%= @booking.recipe.name %> </h2>

      <%= simple_form_for [@booking, @recipe_review] do |f| %>
        <div class="container text-center">
          <%= f.input :rating, as: :radio_buttons, collection: (1..5).to_a, label: "Rate your experience" %>
        </div>
        <%= f.input :content, label: "How was the recipe?" %>
        <%= f.submit "Send your review", class: "btn button col-12" %>
      <% end %>
    </div>
  </div>
</div>
<!--  -->
