<div class="container mt-4">
  <div class="row">
    <% @recipes.each do |recipe| %>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card-food">
        <% recipe.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: "card-food", crop: :fill %>
            <% break %>
        <% end %>
        <div class="card-food-infos">
          <div>
            <h2><%= recipe.name %> <span>| Chef <%= User.find(Chef.find(recipe.chef.user_id).user_id).first_name %> <%= User.find(Chef.find(recipe.chef.user_id).user_id).last_name %></span></h2>
            <p class="mt-2"><span class="mr-3"><%= recipe.cuisine %></span>  "⭐️⭐️⭐️⭐️ avg"</p>
            <p class="mt-2"><%= recipe.description %></p>
          </div>
          <h2 class="card-food-pricing">$<%= recipe.price %></h2>
          <%= cl_image_tag User.find(Chef.find(recipe.chef.user_id).user_id).photo.key, class: "card-food-user avatar-bordered" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



