


<!-- Tagged list for quick access -->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Quick Tags
    <%= image_tag "filter.svg" %> </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <div class="container">
    <div class="d-flex flex-wrap tag-cloud my-6">
      <%# <li class="tag-cloud"> %>
      <% @recipes.each do |r| %>
          <% r.tag_list.each do |tag| %>
            <small class="my-2"><%= link_to tag, recipes_path(tag: tag)%></small>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- End of Tagged list for quick access -->






<!-- list of recipes -->
<div class="recipe-cards my-4">
  <% @recipes.each do | recipe | %>
   <%= link_to recipe_path(recipe) do  %>
      <div class="container">
        <div class="recipe-index" id="recipe-card-style" style="background-image: url(<%= cl_image_path recipe.photo.key%>)">
        </div>
        <div class="recipe-info card-body pb-0 effect2">
          <div class="row justify-content-center">
            <%= link_to recipe.name, recipe_path(recipe),class: "recipe-link" %>
            <!-- like button -->
            <div class="container">
              <p class="tinytext text-center mt-2 mb-0">add to favourites</p>
              <div class="text-center" id="like-heart">
              <% if user_signed_in? %>
                <%= link_to toggle_favorite_recipe_path(recipe), remote: true, method: :post do %>
                  <p><%= render 'recipes/like_button', recipe: recipe %> </p>
                <% end %>
              <% end %>
              </div>
            </div>
          <% end %>
      </div>






          <div class="row">
              <div class="col-6">
                <p><%= recipe.cuisine %></p>
                <p><i class="far fa-clock "></i> <%= recipe.cook_time %> mins</p>
              </div>
              <div class="col-6">
                <p><%= recipe.recipe_reviews.blank? ? "✩ 0 reviews" : "⭐️ " * recipe.recipe_reviews.average(:rating).round(2) %> </p>
                <p><%= humanized_money_with_symbol(recipe.price) %></p>
              </div>
            </div>
        </div>
      </div>
  <% end %>
</div>
<!--  -->



