<div class="recipe-cards my-4">
  <% @recipes.each do | recipe | %>
    <% recipe.photos.each do |photo| %>
      <div class="container">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path photo.key%>)"><%= link_to recipe.name, recipe_path(recipe),class: "recipe-link" %>
        </div>
        <div class="recipe-info card-body pb-0">
          <div class="row">
              <div class="col-6">
                <p><%= recipe.cuisine %></p>
                <p><%= recipe.cook_time %> mins</p>
              </div>
              <div class="col-6">
                <p><%= recipe.recipe_reviews.blank? ? "âœ© 0 reviews" : "â­ï¸" * recipe.recipe_reviews.average(:rating).round(2) %> </p>
                <p class="chef-link"><%= link_to "#{recipe.chef.user.first_name + "" + recipe.chef.user.last_name}" , chef_path(recipe.chef) %> </p>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>





