<!-- list of recipes -->
<div class="recipe-cards my-4">
  <% @recipes.each do | recipe | %>
      <div class="container">
        <div class="recipe-index" id="recipe-card-style" style="background-image: url(<%= cl_image_path recipe.photo.key%>)"><%= link_to recipe.name, recipe_path(recipe),class: "recipe-link-hidden" %>
        </div>
        <div class="recipe-info card-body pb-0 effect2">
          <div class="row justify-content-center">
          
                  <%= link_to recipe.name, recipe_path(recipe),class: "recipe-link" %>

          </div>




          <div class="row">
              <div class="col-6">
                <p><%= recipe.cuisine %></p>
                <p><i class="far fa-clock "></i> <%= recipe.cook_time %> mins</p>
              </div>
              <div class="col-6">
                <p><%= recipe.recipe_reviews.blank? ? "âœ© 0 reviews" : "â­ï¸" * recipe.recipe_reviews.average(:rating).round(2) %> </p>
                <p><%= humanized_money_with_symbol(recipe.price) %></p>
              </div>
            </div>
        </div>
      </div>
  <% end %>
</div>
<!--  -->


