
<!-- recipe review form and recipe image-->
<div class="container  p-4" id="add-measurement" style="width: 100%;">
  <div class="row card shadow-sm card-body justify-content-center">
    <div class="col-12 col-md-8 ">
     <div class="container recipe-svg text-center"><%= image_tag "recipe.svg"%></div>
     <br>
      <h1 class="text-center newrecipeh1">Add Recipe</h1>
      <br>

      <%= simple_form_for @recipe do |f| %>
        <%= f.input :name, label: "What is the name of your recipe?", class:"recipe_input_field"%>
        <%= f.input :description, id:"recipe_description", label: "Recipe details:" %>
        <%= f.input :cuisine, label: "What is the cuisine type?" %>
        <%= f.input :cook_time, label: "What is the cook time" %>
        <%= f.input :price, label: "What is the session cost per hour?" %>
        <%= f.input :photo, label: "Add a photo" %>
        <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
        <%= f.button :submit, class: "btn button col-12" %>
      <% end %>
    </div>
  </div>
</div>
<!--  -->
