<!-- recipe image -->
<div class="banner my-0" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= cl_image_path @recipe.photo.key %>);">
</div>
<!--  -->

<!-- recipe heading -->
<div class="container head-container">
  <h1 class="text-center recipe-head"> <%= @recipe.name %> </h1>
</div>
<!--  -->

<!-- recipe details -->
<div class="container recipe-details mt-3 " >
  <h4 class="chef-recipe-header4"> Recipe Courtesy of</h4><%=  link_to @chef_name, chef_path(@recipe.chef), class: "d-flex justify-content-center chef-recipe-name" %>
  <p class="text-center "><%= @recipe.recipe_reviews.blank? ? "" : "⭐️ " * @recipe.recipe_reviews.average(:rating).round(2) %></p>
  <hr>
  <div class="container px-4">
    <p><i class="far fa-clock mt-3"></i> <strong>Cook time:</strong> <%= @recipe.cook_time %> mins</p>
    <p class=""><%= @recipe.description %></p>
  <!-- price -->
    <p id="cost-recipe" class="text-center mb-0"><%= humanized_money_with_symbol(@recipe.price) %> / hour</p>
  <!--  -->
  </div>
  <!-- Booking Link -->
  <% if current_user != @recipe.chef.user %>
    <div class="container text-center mt-2 mb-4">
      <label>Ready to start cooking with chef <%= @chef_name %>?</label>
    <%= link_to "Book Session", new_recipe_booking_path(@recipe), class: "btn button button-book col-8", id:"chef-btn" %>
    </div>
  <% end %>
  <!--  -->
<br>
  <!-- ingredients/ SHOPPING LIST -->
  <div class="container card pt-3 shadow-sm" >
    <h4 id="shopping-list"  class="text-center recipe-link mb-0">Shopping List</h4>
    <h5 class="text-center recipe-link mt-0"> <%= @recipe.name %> </h5>
    <div class="container mx-5 mb-4">
      <div class="container  mt-4">
      <% @recipe.measurements.each do |measurement| %>
        <p id="measurement-<%= measurement.id %>"> <i class="fas fa-square fa-xs"></i>
        <%= measurement.description %> <%= measurement.ingredient.capitalize %>
        <% if current_user ==  measurement.recipe.chef.user %> |
        <%= link_to "remove", measurement_path(measurement), method: :delete, remote: true %></p>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <!--     -->

  <!-- ADD INGREDIENTS -->
  <% if current_user == @recipe.chef.user %>
    <div class="container mt-4" id="add-measurement">
      <p class="text-center">Add Ingredient
      <%= simple_form_for([@recipe, @measurement], remote: true) do |f| %>
        <%= f.input :description, label: "Quantity"%>
        <%= f.input :ingredient %>
        <%= f.button :submit, "Add Ingredient", class: "btn button col-10" %>
      <% end %>

      <!-- add new recipe -->
      <%= link_to "Add Recipe", new_recipe_path, class: "btn button col-10 shadow-sm mt-2" %>
      <!-- chef dashboard link -->
      <%= link_to "Chef Dashboard", chef_dashboard_path(@chef), class: "btn btn-light col-10 shadow-sm mt-2" %>
    </div>
  <% end %>
</div>
  <!--  -->

<% if  !@recipe.recipe_reviews.empty? %>
  <!-- RECIPE reviews -->
    <% @recipe.recipe_reviews.each do |review| %>
      <div class="notification mb-0 bg-white">
        <div class="mx-1">
          <%= cl_image_tag review.booking.user.photo.key, class: "avatar-large" %>
        </div>
        <div class="notification-content">
          <p class="my-0"><strong><%= review.booking.user.first_name %> <%= review.booking.user.last_name %></strong></p>
          <p><span><%= review.created_at.strftime("%B %e, %Y") %> |</span>  <%= "⭐️" * review.rating %></p>
          <p><%= review.content %></p>
        </div>
      </div>
    <% end %>
<% end %>

<!-- bottom links -->
<div class="container text-center my-2 justify-content-between">
  <div class="d-flex justify-content-between row">
    <div class="mr-auto px-2">
      <%= link_to "All Recipes", recipes_path, class: "btn button shadow", id:"chef-btn" %>
    </div>
    <div class="px-2">
     <%# <i class="fas fa-arrow-circle-up"></i> %>
      <%= link_to "⬆", recipe_path(@recipe), class: "btn btn-light shadow" %>


    </div>
  </div>
</div>


