<!-- recipe image -->
<div class="banner my-0" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= cl_image_path @recipe.photo.key %>);">
  <div class="container">
  </div>
</div>
<!--  -->

<!-- recipe heading -->
<div class="container head-container">
  <h1 class="text-center recipe-head"> <%= @recipe.name %> </h1>


</div>
<!--  -->

<!-- recipe details -->
<div class="container recipe-details">
  <h4> Recipe Courtesy of <%=  link_to @chef_name, chef_path(@recipe.chef) %></h4>
  <p class="text-center"><%= @recipe.recipe_reviews.blank? ? "" : "⭐️" * @recipe.recipe_reviews.average(:rating).round(2) %></p>
  <div class="container">
    <p><i class="far fa-clock "></i> <strong>Cook time:</strong> <%= @recipe.cook_time %> mins</p>
    <p><%= @recipe.description %></p>
  <!-- price -->
    <p><%= humanized_money_with_symbol(@recipe.price) %> / hr</p>
  <!--  -->
  </div>

  <!-- Booking Link -->
  <% if current_user != @recipe.chef.user %>
    <div class="container text-center">
    <%= link_to "Book Cooking Session", new_recipe_booking_path(@recipe), class: "btn button button-book" %>
    </div>
  <% end %>
  <!--  -->

  <!-- ingredients -->
  <div class="container mt-4">
    <h4>Ingredients</h4>
    <% @recipe.measurements.each do |measurement| %>
      <p id="measurement-<%= measurement.id %>"> <i class="fas fa-square-full fa-xs mr-2"> </i>     <%= measurement.description %> <%= measurement.ingredient.capitalize %>
      <% if current_user ==  measurement.recipe.chef.user %> |
      <%= link_to "remove", measurement_path(measurement), method: :delete, remote: true %></p>
      <% end %>
    <% end %>
  </div>
  <!--     -->

<!-- ADD INGREDIENTS -->
<% if current_user == @recipe.chef.user %>
  <div class="container mt-4" id="add-measurement">
    <p class="text-center">Add Ingredient
    <%= simple_form_for([@recipe, @measurement], remote: true) do |f| %>
      <%= f.input :description, placeholder: '6 leaves' %>
      <%= f.input :ingredient %>
      <%= f.button :submit, "Add Ingredient", class: "btn button col-10" %>
    <% end %>

    <!-- add new recipe -->
    <%= link_to "Add Recipe", new_recipe_path, class: "btn button col-10 shadow-sm mt-2" %>
    <!--  -->
    <%= link_to "Chef Dashboard", chef_dashboard_path(@chef), class: "btn btn-light col-10 shadow-sm mt-2" %>
  </div>
<% end %>

  <!--  -->

  <!-- RECIPE reviews -->
  <div class="comtainer">
    <% @recipe.recipe_reviews.each do |review| %>
      <div class="notification mt-4">
        <%= cl_image_tag review.booking.user.photo.key, class: "avatar-large" %>
        <div class="notification-content">
          <p class="my-0"><strong><%= review.booking.user.first_name %> <%= review.booking.user.last_name %></strong></p>
          <p><span><%= review.created_at.strftime("%B %e, %Y") %> |</span>  <%= "⭐️" * review.rating %></p>
          <p><%= review.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


