<div class="container mt-4">
 <!-- current booking -->
 <div class="container card shadow-sm my-4 p-4">
   <div class="row">
      <div class="col-12">
        <% if @bookings[-1].recipe_review.nil? && @bookings[-1].chef_review.nil? %>
          <h1 class="text-center mb-3">Next Session</h1>
          <div class="card border-light mb-3" style="max-width: 100%;">
            <div class="card-header" ><%= link_to "Session Details", booking_path(@bookings[-1]) %> | <%= @bookings[-1].recipe.chef.user.first_name %> <%= @bookings[-1].recipe.chef.user.last_name %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= @bookings[-1].recipe.name %></h5>
              <div class="card-text">
                <h5><%= @bookings[-1].date.strftime('%B %d, %Y') %></h5>
                <p class="card-text mb-0">Start Time: <%= @bookings[-1].start_time.strftime("%I:%M%p") %></p>
                <p>End Time: <%= @bookings[-1].end_time.strftime("%I:%M%p") %></p>
              </div>
            </div>
          </div>
          <% else %>
            <div class="container text-center">
              <h2>You have no sessions</h2>
              <p>Book your next session</p>
            </div>
        <% end %>
      </div>
    </div>
  </div>
<!-- past bookings -->
  <div class="container card my-4 shadow-sm p4-">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mb-3 mt-3">Past Sessions</h2>
        <% if @bookings.present? %>
          <% @bookings[0...-1].each do |booking| %>
            <div class="card border-light mb-3" style="max-width: 100%;">
              <div class="card-header" ><%= link_to "Session Details", booking_path(booking) %> | <%= booking.recipe.chef.user.first_name %> <%= booking.recipe.chef.user.last_name %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= booking.recipe.name %></h5>
                <div class="card-text">
                  <h5><%= booking.date.strftime('%B %d, %Y') %></h5>
                  <p class="card-text mb-0">Start Time: <%= booking.start_time.strftime("%I:%M%p") %></p>
                  <p>End Time: <%= booking.end_time.strftime("%I:%M%p") %></p>
                </div>
              </div>
            </div>
          <% end %>
            <% if !@bookings[-1].recipe_review.nil? || !@bookings[-1].chef_review.nil?%>
              <div class="card border-light mb-3" style="max-width: 100%;">
              <div class="card-header" ><%= link_to "Booking ##{@bookings[-1].id}", booking_path(@bookings[-1]) %> | <%= @bookings[-1].recipe.chef.user.first_name %> <%= @bookings[-1].recipe.chef.user.last_name %></div>
              <div class="card-body">
                <h5 class="card-title"><%= @bookings[-1].recipe.name %></h5>
                <div class="card-text">
                  <h5><%= @bookings[-1].date.strftime('%B %d, %Y') %></h5>
                  <p class="card-text mb-0">Start Time: <%= @bookings[-1].start_time.strftime("%I:%M%p") %></p>
                  <p>End Time: <%= @bookings[-1].end_time.strftime("%I:%M%p") %></p>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
