<!-- recipe image -->
<div class="banner my-0" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= cl_image_path @recipe.photo.key %>);">
  <div class="container text-center booking-recipe">
    <h1> <%= @recipe.name %></h1>
  </div>
</div>
<!--  -->
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

        <div class="form-calendar" id='recipe-booking-dates' data-unavailable="<%= @recipe.unavailable_times.to_json %>">
          <h4>Session Booking</h4>
          <hr>
          <h2 class="text-center">Chef <%= @recipe.chef.user.first_name%> <%= @recipe.chef.user.last_name%></h2>
          <h5 class="py-2 cost text-center" ><%= humanized_money_with_symbol(@recipe.price)  %> / hour</h5>
           <% if current_user.id != @recipe.chef.user_id  %>
             <%= simple_form_for [@recipe, @booking] do |f| %>
              <div class="form-inputs">
                <%# <label>Session Date</label> %>
                <br>
                <p><%= f.text_field :date, placeholder:"Session Date", data: { behavior: "flatpickr"}, id: "booking_start_date", class: "col-9 py-3" %></p>
                <%# <label>Start Time: </label> %>
                <p><%= f.text_field :start_time, placeholder:"Start Time", data: { behavior: "flatpickr"}, id: "booking_start_time", class: "col-9" %></p>
                <%# <label>End Time: </label> %>
                <p><%= f.text_field :end_time, placeholder:"End Time", data: { behavior: "flatpickr"}, id: "booking_end_time", class: " col-9" %></p>
                <% if  @booking.errors.present? %>
                  <p><%= @booking.errors.full_messages[0] %></p>
                <% end %>
              </div>

              <div class="form-action">
                <%= f.button :submit, "BOOK", class: "btn button",  id:"bookbutton" %>
              </div>
            <% end %>
          <% end %>
        </div>

    </div>
  </div>
</div>
