<!-- booking details -->
<div class=" card container pt-3 text-center">
    <h1><%= @booking.recipe.name %></h1>
    <h3> Chef <%= @booking.recipe.chef.user.first_name %> <%= @booking.recipe.chef.user.last_name %></h3>
    <h4><%= @booking.date.strftime('%B %d, %Y') %></h4>
    <h5 class="card-text mb-0">Session: <%= @booking.start_time.strftime("%I:%M%p") %> - <%= @booking.end_time.strftime("%I:%M%p") %></h5>
  <!-- booking links -->
  <p> <%= link_to "My Bookings", bookings_path, class: "btn button mt-4 shadow", id:"chef-btn" %> </p>
  <% if @booking.chef_review.blank? ||  @booking.recipe_review.blank? %>
  <p> <%= link_to "Cancel Booking", booking_path(@booking), method: :delete, data: {confirm: "Are you sure?"}, class: "del-chef btn button-delete shadow" %> </p>
  <% end %>
</div>


<!-- chef review -->
<div class="container mt-3 pt-3 ">
  <% if @booking.chef_review.blank? %>
    <div class="container card my-4 p-4 shadow-sm">
      <div class="text-center my-2 ">
        <%= link_to cl_image_tag(@booking.recipe.chef.user.photo.key, width: 200, height: 200, crop: :fill, class: "shadow-sm"), chef_path(@booking.recipe.chef) %>
      </div>
      <div class="text-center my-3"><%= link_to "Add Chef Review", new_booking_chef_review_path(@booking), class: "btn button ml-2 shadow-sm" %>
      </div>
    </div>
  <% else %>
    <div class="container card my-4 p-4 shadow-sm">
      <div class="text-center my-2 ">
        <%= link_to cl_image_tag(@booking.recipe.chef.user.photo.key, width: 200, height: 200, crop: :fill, class: "shadow"), chef_path(@booking.recipe.chef) %>
      </div>
      <h5 class="text-center my-3 review-head">Thanks for your review!</h5>
      <div class="container px-5 ml-3">
        <h5 class="mb-0"><%= @booking.chef_review.created_at.strftime("%B %e, %Y") %></h5>
        <p class="mt-2 mb-0"><strong class="mr-2">Rating: </strong> <%= " ⭐️ " * @booking.chef_review.rating %></p>
        <p class="mt-0"><strong class="mr-2">Content:</strong>"<%=  @booking.chef_review.content %>"</p>
      </div>
    </div>
  <% end %>

  <!-- recipe review -->
    <% if @booking.recipe_review.blank? %>
      <div class="text-center my-2 ">
       <%= link_to (cl_image_tag @booking.recipe.photo.key, width: 200, height: 200, crop: :fill, class: "shadow-sm"), recipe_path(@booking.recipe) %>
      </div>
      <div class="text-center my-3"><%= link_to "Add Recipe Review", new_booking_recipe_review_path(@booking), class: "btn button ml-2 shadow-sm" %></div>
    <% else %>
      <div class="container card my-4 p-4 shadow-sm">
        <div class="text-center my-2">
         <%= link_to (cl_image_tag @booking.recipe.photo.key, width: 200, height: 200, crop: :fill, class: "shadow-sm text-center"), recipe_path(@booking.recipe) %>
        </div>
          <h5 class="text-center my-3 review-head">Thanks for your review!</h5>
        <div class="container px-5 ml-3">
          <h5 class="mb-0"><%= @booking.recipe_review.created_at.strftime("%B %e, %Y") %></h5>
          <p class="mt-2 mb-0"><strong class="mr-2">Rating: </strong> <%=  " ⭐️ " * @booking.recipe_review.rating %></p>
          <p class="mt-0"><strong class="mr-2">Content: </strong>"<%=  @booking.recipe_review.content %>"</p>
        </div>
      </div>
    <% end %>
</div>
