
 <!--  increased the jumbotron width -->
  <div class="container-full-bg jumbotron bg-main">
    <div class="container my-4">
        <div class="d-flex align-items-center justify-content-center" style="height:350px">
          <form class="d-flex">
              <%= form_tag recipes_path, method: :get do %>
              <%= text_field_tag :query, params[:query], class: "form-control me-2", id: "form-cont-home",
                  placeholder: "cuisine or recipe" %>
              <%= submit_tag "search", class:"btn",  id: "search-btn" %>
              <% end %>
          </form>     
        </div>
    
      </div>
  </div>
      
        
 


<div class="container">
<%= render '/recipes/top', recipes:@top_recipes %>
</div>

<p><%= link_to "Recipes", recipes_path %></p>
<p><%= link_to "Chefs", chefs_path %></p>
