<!-- chef review form and chef image-->
<div class="container card mb-4" style="width: 100%;">
  <div class="card-body row justify-content-center">
    <div class="col-12 col-md-8 ">
      <%= cl_image_tag @chef_photo, width: 250, height: 250, crop: :fill, class: "avatar-square"  %>
      <h3>Add a review for Chef <%= @chef_name %> </h3>

      <%= simple_form_for [@booking, @chef_review] do |f| %>
        <%= f.input :rating, as: :radio_buttons, collection: 1..5%>
        <%= f.input :content %>
        <%= f.button :submit, class: "btn button col-12" %>
      <% end %>
    </div>
  </div>
</div>
<!--  -->
