<div class="container mt-4">
  <div class="container text-center card py-3 shadow-sm ">
    <h1>Chef Dashboard</h1>
    <div class="row">
      <div class="col-12">
        <%= cl_image_tag current_user.photo.key, width: 175, height: 175,  crop: :fill, class: "chef-avatar mb-4"  %>
       </div>
       <div class="col-12">
        <h1 class="user-dash-name" ><%= @chef.user.first_name %> <%= @chef.user.last_name %></h1>
      </div>
    </div>
  </div>

<!-- booking confirmation -->
<div class="container shadow-sm ">
  <div class="row booking-confirm mt-4 text-center">
    <div class="col-12 card card-body pb-2 pt-3">
        <% if @bookings.empty? %>
          <h3>You have no bookings</h3>
        <% else  %>
          <h4>Booking #<%= @bookings[-1].id %></h4>
          <h5><%= @bookings[-1].recipe.name %></h5>
            <p><%= @bookings[-1].date.strftime("%B %e, %Y") %> <%= @bookings[-1].start_time.strftime("%I:%M%p") %> - <%= @bookings[-1].start_time.strftime("%I:%M%p") %></p>
          <% end %>
      </div>
    <div class="col-5 card card-body pb-1 pt-2">
      <p><%= link_to "Accept" %></p>
    </div>
    <div class="col-5 card card-body pb-1 pt-2">
      <p><%= link_to "Decline" %></p>
    </div>
  </div>
</div>

<!-- collapse menu -->

  <div id="accordion" class="my-4 shadow-sm">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0 text-center">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          My Recipes
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="conatiner" >
          <%= link_to "Add Recipe", new_recipe_path, class: "btn btn-light shadow-sm mb-4" %>
        </div>
         <!-- booking history -->
          <div class="container mt-4">
    <div class="container">
      <h2 class="text-center mb-4">My Recipes</h2>
      <% @recipes.each do |recipe| %>
        <ul>
          <p><%= link_to recipe.name, recipe_path(recipe) %> <span><%= link_to "X", recipe_path(recipe), method: :delete, data: {confirm: "Are you sure?" } %></span></p>
        </ul>
      <% end %>
    </div>

        </div>
      </div>
    </div>
    <!-- chef reviews -->
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            My Chef Reviews
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">

        </div>
      </div>
    </div>
    <!-- recipe reviews -->
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            My Recipe Reviews
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
<!-- account cancellation -->
  <div class="container text-center mb-4">
    <p><%= link_to "Delete Chef Account",  chef_path(@chef), method: :delete, class: "mt-4 btn btn-warning mb-4" %></p>
  </div>
</div>



