
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "LOGO.svg" %>
        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "> </span></span>
          <% if user_signed_in? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </button>




    <!-- search bar -->
     <% if controller.controller_name == 'chefs' && controller.action_name == 'index'%>
          <div class="container-fluid">
            <a class="navbar-brand"></a>
              <%= form_tag chefs_path, method: :get do %>
              <div class="d-flex">
                <%= text_field_tag :query, params[:query], class: "form-control me-2", id: "form-cont",
                    placeholder: "cuisine or chef" %>
                    <%= submit_tag "search", class:"btn",  id: "search-btn" %>
              </div>
            <% end %>
          </div>
     <% elsif controller.controller_name == 'recipes' && controller.action_name == 'index' %>
        <div class="container-fluid">
            <a class="navbar-brand"></a>
              <%= form_tag recipes_path, method: :get do %>
              <div class="d-flex">
                <%= text_field_tag :query, params[:query], class: "form-control me-2", id: "form-cont",
                    placeholder: "cuisine or recipe" %>
                    <%= submit_tag "search", class:"btn",  id: "search-btn" %>
              </div>
            <% end %>
          </div>
     <% end %>
    <!-- search bar end -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbar-fixed-top">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <% if user_signed_in? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="col-md-12">
                <div div class="dropdown-menu dropdown-menu-right" id="drpdown" aria-labelledby="navbarDropdown">
                    <div class="inblk"><%= link_to "Recipes", recipes_path, class: "dropdown-item text_dropdown" %></div>
                    <div class="inblk"><%= link_to "Chefs", chefs_path, class: "dropdown-item text_dropdown" %></div>
                    <div class="inblk"><%= link_to "Bookings", bookings_path, class: "dropdown-item text_dropdown" %></div>
                    <div class="inblk"><%= link_to "Dashboard", user_dashboard_path, class: "dropdown-item text_dropdown" %></div>
                    <% if current_user.chef.present? %>
                      <div class="inblk"><%= link_to "Chef Dashboard", chef_dashboard_path, class: "dropdown-item text_dropdown" %></div>
                    <% end %>
                    <div class="inblk"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text_dropdown" %></div>
                  </div>
                </div>
              </div>
            </li>
           <% else %>
               <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                </li>
            <% end %>
         </ul>
       </div>
      </div>
    </div>
