<!DOCTYPE html>
<html>
  <head>
    <title>KookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">

    <%= render 'layouts/navigation' %>


    <!-- DEVISE ALERTS -->
      <p class="notice my-0"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <!-- DEVISE ALERTS END -->

    <main>
      <div>
        <%= yield %>
      </div>
    </main>

        <!-- STICKER FOOTER -->

    <div id="page-content">



    </div>



    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    <!--STICKY FOOTER END DIV -->

  </body>
</html>
